body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
