html,
body {
font-size: 16px;
font-family: Montserrat, serif;
line-height: 1.4;
}
p {
  color: grey;
}
/*----NAV----*/
.brandimgdiv{
  max-width: 200px;
}

.brandimg {
  width: 100%;
}

.topnav-div{
  background-color: cornsilk;
}

.topnav a{
  color: black;
  font-size: .9rem;
}

/*----Jumbotron----*/

.jmbtrn {
  height: 30rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jmbtrn{
  opacity: .8;
}


.background-a{
  background-image: url("../resources/images/headline/inn-entrance.jpg");
}

.background-b{
  background-image: url("../resources/images/headline/krazy-kats-ent.jpg");
}

.background-c{
  background-image: url("../resources/images/headline/garden-walkway.jpg");
}

.background-d{
  background-image: url("../resources/images/headline/tulips-entrance.jpg");
}

.background-e{
  background-image: url("../resources/images/headline/yellow-room.jpg");
}

.jumbo-copy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.jumbo-copy h5 {
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  font-weight: bold;
}

.jumbo-copy p {
  font-family: Merriweather, serif;
  font-size: .8rem;
  font-style: italic;
}

.book-a-room{
  background-color: darkred;
  color: cornsilk;
}

.btn-success {
  background-color: #98db1c;
}
/*jumbotron media queries*/

@media only screen and (max-width: 580px) {
  .jmbtrn {
    height: 20rem;
  }
}

/* Happening Sec */

.events {
  text-align: center;
  font-family: Merriweather, serif;
  padding-bottom: 3rem;
  border-bottom: 1px solid grey;
}

.event {
  padding-top: 1.2rem;
}

.events h4 {
  font-size: 1rem;
}
.event-copy {
  margin-left: 12px;
  margin-right: 12px;
}
.event-copy p {
  font-size: .8rem;
  padding-top: .8rem;
  margin-bottom: 0;
}

.event-copy a {
  font-size: .8rem;
  color: #b72c05;
}

.image-container {
  overflow: hidden;
}

.event .image-container{
  height: 10rem;
}

.image-container img {
  width: 100%;
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Main Footer Sec */

.main-footer-sec {
  text-align: center;
  padding-top: 1.2rem;
}
