html,
body {
font-size: 16px;
font-family: Montserrat, serif;
line-height: 1.4;
}
/*----NAV----*/
/* .brand-logo{
  justify-content: center;
} */
.brandimgdiv{
  max-width: 200px;
}

.brandimg {
  width: 100%;
}

.topnav-div{
  background-color: cornsilk;
}

.topnav a{
  color: grey;
  font-size: .9rem;
}

/*----Jumbotron----*/

.jumbotron {
  height: 30rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jmbtrn{
  opacity: .8;
}


.background-a{
  background-image: url("../resources/images/headline/inn-entrance.jpg");
}

.background-b{
  background-image: url("../resources/images/headline/krazy-kats-ent.jpg");
}

.background-c{
  background-image: url("../resources/images/headline/garden-walkway.jpg");
}

.background-d{
  background-image: url("../resources/images/headline/tulips-entrance.jpg");
}

.background-e{
  background-image: url("../resources/images/headline/yellow-room.jpg");
}

.jumbo-copy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.jumbo-copy h5 {
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  font-weight: bold;
}

.jumbo-copy p {
  font-family: Merriweather, serif;
  font-size: .8rem;
  font-style: italic;
}

.book-a-room{
  background-color: darkred;
  color: cornsilk;
}
