#navMenu {
  justify-content: center;
  align-items: center;
}



#dropdownMenu {
  position: absolute;
  float: none;
  top: auto;
  left: auto;

}

#navLinks {
justify-content: center;
flex-direction: row;
flex-flow: column;
}

#navLinks .nav-link , .menu  {
  color: white;
}

#navLinks .nav-link {
  font-size: 48px;
}

#navBody {
  background-image: url(images/gallery-12.jpg);
  background-size:  cover;
  background-position: center;
  min-height: 400px;
  width: auto;
}
