header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
header nav {
  padding-right: 40px;
}
header a {
  color: black;
}
header li {
  display: inline-block;
  list-style: none;
  padding: 20px 10px;
}
.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}
.content {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column .large {
  width: 630px;
  display: flex;
}
.column .medium {
  width: 300px;

}
.column .small {
  width: 240px;
}
.image-content {
  display: flex;
  height: 300px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
}
.lead-story .image-content {
  background-image: url(images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;

}
/* #headline {
  font-size: 40px;
  text-align: left;
} */
.image-content span {
  /* font: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white; */
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}
.earth-spin {
  background-image: url(images/img-story-2.png);
}
.pop-culture {
  background-image: url(images/img-story-3.png);
}
.cat-ceo {
  background-image: url(images/img-story-1.png);
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
#headline {
  margin-left: 20px;
}
.narrative {
  margin-top: 16px;
  line-height: 150%;
}
body {
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
