header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
header nav {
  padding-right: 40px;
}
header a {
  color: black;
}
header li {
  display: inline-block;
  list-style: none;
  padding: 20px 10px;
}
.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}
.content {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column .large {
  width: 630px;
}
.column .medium {
  width: 300px;

}
.column .small {
  width: 240px;
}
.image-content {
  display: flex;
  /* height: 300px; */
}
.lead-story .image-content {
  background-image: url(images/img-story-main.png);
  width: 630px;
  margin-top: 0;

}
div {
  border: 1px solid black;

}
body {
  display: block;
}
