html,
body {
  font-size: 16px;
  font-family: Lato;
  line-height: 1.4;
}

/* fonts */

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* headersec */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbrand {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 1rem;
}

.navbrand img {
  width: 2.5rem;
  padding-right: .3rem;
}

.navbrand span {
  font-size: 1.2rem;
  font-weight: 100;
  color: #E6C72A;
}

#navstrng {
  font-weight: bold;
  color: DimGray;
  padding-right: 2px;
}

.navlist {
  display: inline-flex;
  padding-right: 1.5rem;
}

.navlist li {
  padding-left: 1rem;
}
.navlist li a {
  text-decoration: none;
  color: DimGray;
  font-size: 1.2rem;
}

.navlist li a:hover{
  color: #E6C72A;
}

/* navsec queries */

@media only screen and (max-width: 600px) {

  nav {
    display: none;
  }

}

/* begin main content */

.container {
  max-width: 1080px;
  margin: auto;
}

/* bannersec */

.mainbanner {
  background-color: #DCDCDC;
  border-top: .5px solid #E6C72A;
}

.mainbanner .container {
  display: flex;
}

.leftsec {
  max-width: 60%;
  padding: 32px 24px;
}

.leftsec img {
  width: 100%;
  border-radius: 5px;
}

.rightsec {
  max-width: 40%;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 6rem;
  margin-right: 3.75rem;
  padding-left: 1rem;
  flex-shrink: 1;
}

.tagline h1 {
  font-family: Roboto;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
}

.tagline h4 {
  line-height: 1.6;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tagline a{
  background-color: #797979;
  color: #E6C72A;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .7rem 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 0px solid black;
  transition: all 50ms ease 50ms;
}

.tagline a:hover{
  background-color: #BABABA;
  border: .5px solid #797979;
  color:  #797979;
}

/* mainbanner queries */

@media only screen and (max-width: 900px) {
  .mainbanner .container {
    flex-direction: column;
    align-items: center;
  }

  .leftsec {
    max-width: 100%;
  }

  .rightsec {
    max-width: 90%;
  }

  .tagline {
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  .tagline h4 {
    padding-bottom: 1rem;
  }

  .tagline a{
    margin-bottom: 1rem;
  }
}

/* informationsec */

.information .container {
  display: flex;
}

#leftsec {
  display: flex;
  flex-direction: column;
}

.info-img{
  width: 40%;
  padding: 1rem 1rem;
}

.info-img img {
  width: 100%;
  border-radius: 5px;
}

#info-item-lead {
  padding-top: 1rem;
}

.info-item {
  display: flex;
  align-items: center;
  max-height: auto;
}

.info-copy {
  margin: 0;
  width: 60%;
  padding-top: 12px;
}

.info-copy h3{
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5rem;
  color: #5b5b57;
  border-bottom: 1.5px dotted #E6C72A;
}

.info-copy p {
  font-family: Roboto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: DimGray;
  line-height: 1.2;
}

.info-copy a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: ;
  padding: 2px;
}

.info-copy a:hover{
  color: #E6C72A;
  background-color: black;
}

#info-item-highlight {
  background-color: #DCDCDC;
}

#info-item-highlight h3{
  border-bottom: 1.5px dotted white;
}

.information h1 {
  font-family: Roboto;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
  padding: .5rem 0px;
}

.information .quote {
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: lighter;
  color: DimGray;
}

.quoteauth {
  font-size: 12px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

/* informationsec queries */

@media only screen and (max-width:900px) {
  .information .container {
    flex-direction: column;
  }

  #leftsec {
    text-align: center;
  }

  #rightsec {
    max-width: 100%;
  }

  #info-item-lead {
    padding-top: 0;
  }

  .quoteauth {
    padding-bottom: 0;
  }

  .info-item {
    border: .5px solid #dcdcdc;
  }

  #info-item-highlight {
    background-color: #E6C72A;
  }
}

/* learningsec */

.learningsec {
  margin: 0 auto;
  padding-top: 2rem;
  background-color: #DCDCDC;
}

.learningsec h1{
  font-family: Roboto;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

.subjects-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
}


.subject {
  max-width: 32%;
  margin-bottom: 20px;
  height: 18.5rem;
  background-color: white;
}

.subject img{
  width: 100%;
}

.course-info{
  padding-left: 1rem;
}

.course-info h3{
  font-family: Lato;
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: bold;
}

.course-info h5{
  font-family: Roboto;
  font-size: 1rem;
  color: Dimgray;
  font-weight: lighter;
  padding: .5rem 0rem;
}

.courses ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.courses ul li {
  padding: 2.5px 2.5px;
}

.courses ul li a{
  text-decoration: none;
  font-size: 14px;
  background-color: #a5a5a5;
  color: white;
  padding: 3px 5px;
  border-radius: 4px;
}

.courses ul li a:hover{
  background-color: #E6C72A;
  color: black;
}

.courses {
  padding-bottom: 1rem;
}

/* learningsec queries */

@media only screen and (max-width: 900px) {

.subjects-gallery {
  max-width: 100%;
}

  .subject {
    max-width: 45%;
    min-width: 250px;
  }
}

@media only screen and (max-width: 580px){

  .subjects-gallery {
    justify-content: center;
  }

  .subject {
    max-width: 90%;
    height: auto;
  }

  .courses {
    padding-bottom: 1rem;
  }
}



/* thesis-sec */

.thesis-sec .container{
  display: flex;
}

.thesis-sec h1{
  text-align: center;
  padding: 2rem 0rem;
  font-family: Roboto;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
}

.leftsec video {
  width: 100%
}

#thesis-info-img-lead {
  padding-top: 0rem;
}

#leftsec-thesis {
  padding-top: 0rem;
}

#rightsec-thesis {
  padding-top: 0rem;
}

#leftsec-thesis p {
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: lighter;
  color: DimGray;
  padding-top: 8px;
}

#leftsec-thesis h3 {
  font-family: Lato;
  font-size: 1.4rem;
  font-weight: bold;
  color: #E6C72A;
  padding-top: 1rem;
}

/* thesis-sec queries */

@media only screen and (max-width: 900px){

  .thesis-sec .container {
    flex-direction: column;
  }

  #rightsec-thesis {
    max-width: 100%;
  }
}

/* footer */

footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
  height: 3.5rem;
}

footer .container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .75rem;
}

.footer-nav {
  text-align: right;
  flex-grow: 1;
}

footer .container p {
  padding-left: 24px;
  padding-right: 24px;
  color: DimGray;
  font-size: .75rem;
}

.footer-nav a{
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
  color: DimGray;
  font-size: .75rem;
}
