html,
body {
  font-size: 16px;
  font-family: Lato;
  line-height: 1.4;
}

/* fonts */

/* lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* headersec */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbrand {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 1.5rem;
}

.navbrand img {
  width: 2.5rem;
  padding-right: .3rem;
}

.navbrand span {
  font-size: 1.2rem;
  font-weight: 100;
  color: DimGray;
}

#navstrng {
  font-weight: bold;
  color: black;
  padding-right: 2px;
}

.navlist {
  display: inline-flex;
  padding-right: 1.5rem;
}

.navlist li {
  padding-left: 1rem;
}
.navlist li a {
  text-decoration: none;
  color: DimGray;
  font-size: 1.2rem;
}

/* end nav sec */
/* begin main content */

.container {
  width: 1050px;
  margin: auto;
}

/* bannersec */

.mainbanner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.mainbanner .container {
  display: flex;
}

.leftsec {
  width: 60%;
  padding: 32px 24px;
}

.leftsec img {
  width: 100%;
}

.rightsec {
  width: 440px;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 6rem;
  margin-right: 3.75rem;
  padding-left: 1rem;
}

.tagline h1 {
  font-family: Roboto;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
}

.tagline h4 {
  padding-top: 1rem;
}
