/* Global Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans" , sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* BootStrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Jumbotron */

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

}

.background-bike {
  background-image: url("../resources/images/jumbotron-bike.jpg");
}

.background-beer {
  background-image: url("../resources/images/jumbotron-beer.jpg");
}

.background-flowers {
  background-image: url("../resources/images/jumbotron-flowers.jpg");
}

.background-duffel {
  background-image: url("../resources/images/jumbotron-duffel.jpg");
}
