.container {
  max-width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}
.parallax {
   background: transparent;
   padding: 80px 35px;
   margin: 40px auto;
}
.info {
  z-index: 2;
  position: relative;
  color: white;
  font-weight: bolder;
  font-size: 36px;
}
.container h1 {
   font-weight: bolder;
   font-style: italic;
   font-size: 100px;
   padding-bottom: 20px;
 }
 .red-cube {
   background: red;
   margin: 0 auto;
   display: block;
   padding: 40px 0;
   text-align: center;
   color: #fff;
   font-size: 40px;
   font-weight: bold;
   opacity: 0;
 }

 .show{
   opacity: 1;
 }

 /* ScrollMagic */

 .project {
  text-align: center;
  padding: 125px 0;
  border-bottom: 1px black solid;
  opacity: 0;
  transition: all 2s ease-out;
 }

 .project.fade-in {
   opacity: 1;
 }

.project img {
  width: 180px;
  height: 180px;
}

.project p {
  max-width: 300px;
  margin: 0 auto;
  color: grey;
  padding: 15px 0;
}

#project01 h2{
  color: blue;
  padding-top: 15px;
}